@import "@fontsource/inter";
@import "@fontsource/jetbrains-mono";

@import "tailwindcss";


@theme {
    /* =========================================================
     * FONTS
     * ========================================================= */

    --font-inter: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    
    /* =========================================================
     * LIGHT THEME
     * ========================================================= */

    --color-background-primary: oklch(98.5% 0.002 248);

    --color-background-secondary: oklch(88.2% 0.003 248);

    --color-border: oklch(86.7% 0.006 248);

    --color-primary-text: oklch(27.8% 0.015 248);

    --color-secondary-text: oklch(50.5% 0.012 248);

    --color-primary: oklch(58% 0.19 252 / 0.70);

    --color-primary-border: oklch(25% 0.01 248 / 0.08);

    --color-success: oklch(55% 0.16 145);

    --color-alert: oklch(67% 0.15 85);

    --color-danger: oklch(58% 0.21 25);

    --color-white: oklch(100% 0 0);

    /* =========================================================
     * ACHIEVEMENTS
     * ========================================================= */

    --color-achievement-common: oklch(55% 0.03 255);

    --color-achievement-uncommon: oklch(61% 0.15 240);

    --color-achievement-rare: oklch(68% 0.16 70);

    --color-achievement-epic: oklch(56% 0.24 295);

    --color-achievement-legendary: oklch(66% 0.22 45);

    /* =========================================================
     * CATEGORIES
     * ========================================================= */

    --color-category-health: oklch(68% 0.13 240);

    --color-category-productivity: oklch(60% 0.24 305);

    --color-category-growth: oklch(74% 0.16 60);

    --color-category-finance: oklch(64% 0.18 145);

    --color-category-selfcare: oklch(63% 0.21 25);

    --color-category-other: oklch(62% 0.01 248);


    @keyframes fade-in {
        /* 0%,
        100% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(40px);
        } */

        0%:   { opacity: '0'; transform: 'translateX(-4px)'; },
        100%: { opacity: '1'; transform: 'translateX(0)'; },
    }
}

/* =============================================================
 * DARK THEME
 * ============================================================= */

.dark {
    --color-background-primary: oklch(17.8% 0.015 248);

    --color-background-secondary: oklch(21.5% 0.015 248);

    --color-border: oklch(32% 0.012 248);

    --color-primary-text: oklch(86% 0.01 248);

    --color-secondary-text: oklch(67% 0.015 248);

    --color-primary: oklch(56.9% 0.20 260);

    --color-primary-border: oklch(95% 0.01 248 / 0.08);

    /* =========================================================
     * CATEGORIES
     * ========================================================= */

    --color-category-health: oklch(68% 0.13 240);

    --color-category-productivity: oklch(60% 0.24 305);

    --color-category-growth: oklch(74% 0.16 60);

    --color-category-finance: oklch(64% 0.18 145);

    --color-category-selfcare: oklch(63% 0.21 25);

    --color-category-other: oklch(62% 0.01 248);
}

/* =============================================================
 * FONT UTILITIES
 * ============================================================= */

@utility text-heading-1 {
    font-family: var(--font-inter);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

@utility text-heading-2 {
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
}

@utility text-content {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}

@utility text-small {
    font-family: var(--font-inter);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
}

@utility text-code-comment {
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-secondary-text)
}

@utility text-code {
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-primary-text)
}

@theme {
    --animate-loading-dot: loading-dot 1.4s infinite;

    @keyframes loading-dot {
        0%, 80%, 100% {
            opacity: 0;
            transform: translateY(0);
        }

        40% {
            opacity: 1;
            transform: translateY(-2px);
        }
    }
}